<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938642236176-e1k6d1r3tjfjk91qggbnlp0cl2e0q6s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938642236176-e1k6d1r3tjfjk91qggbnlp0cl2e0q6s7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>938642236176-lmmlp86rijjbrorvcv5k6sb7pqml1d8m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCmmFPqE9U_SQ0Q5RQngKwaU8Hp0Qj2SYc</string>
	<key>GCM_SENDER_ID</key>
	<string>938642236176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acmvit.code2create</string>
	<key>PROJECT_ID</key>
	<string>code2create-app</string>
	<key>STORAGE_BUCKET</key>
	<string>code2create-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938642236176:ios:65e572a792c9e0294fbb95</string>
	<key>DATABASE_URL</key>
	<string>https://code2create-app.firebaseio.com</string>
</dict>
</plist>